In [14]:
import pandas as pd
import os
from google.cloud import bigquery
import seaborn as sns
import numpy as np
import pickle

# 1. Big query data gathering

First you need to go to 
https://cloud.google.com/docs/authentication/getting-started to set up an account and an API key. Follow the instructions and then 
    replace the link below with the JSON file that gets downloaded.

- randomly sample 2 million rows from 2016 data. 
- Compute time bewteen pickup and dropoff.

In [7]:
pd.set_option('display.max_columns', 500)
os.environ["GOOGLE_APPLICATION_CREDENTIALS"]="/Users/liyannie/Desktop/Sp_2019_courses/DS_Indus/project/My_First_Project-1cc8e6bacdcb.json"

In [4]:
# calculate trip time in seconds
# randomly sample 2 million rows

query1 = (
    """
    SELECT * FROM 
    (
    SELECT *,
    TIMESTAMP_DIFF( dropoff_datetime, pickup_datetime, SECOND) as travel_time,
    EXTRACT (DATE FROM pickup_datetime) as date_of_year,
    EXTRACT (DAY FROM pickup_datetime) as day_of_year,
    EXTRACT (MONTH FROM pickup_datetime) as month_of_year,
    EXTRACT (YEAR FROM pickup_datetime) as year_of_year
    FROM `bigquery-public-data.new_york.tlc_yellow_trips_2016` 
    ORDER BY RAND()
    LIMIT 2000000) a 
    INNER JOIN
    (
    select concat(year,'-',mo,'-',da) as date_of_year2,year,mo,da,temp,visib,wdsp,gust,max,min,prcp,sndp,fog,rain_drizzle,snow_ice_pellets,hail,thunder
    from `bigquery-public-data.noaa_gsod.gsod2016` where stn='725053'
    ) weather_data
    on CAST(a.date_of_year AS STRING) = weather_data.date_of_year2
    """
)

In [5]:
df1=pd.read_gbq(query1,dialect='standard')

In [8]:
df1.to_pickle("/Users/liyannie/Desktop/Sp_2019_courses/DS_Indus/project/df1.pkl")